* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: aliceblue;
}

.dad {
    background-color: rgb(59, 228, 8);
    width: 500px;
    height: 600px;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 40px;
}

#name {
    background-color: rgb(151, 233, 219);
    width: 240px;
    height: 35px;
    border-radius: 7px;
    margin: 0 auto;
    position: relative;
    left: 130px;
    top: 30px;
    border: none;
    box-shadow: 1px 1px 1px 1px rgb(52, 53, 52);

}

#message {
    background-color: rgb(196, 199, 199);
    border-radius: 4px;
    position: relative;
    left: 130px;
    top: 30px;
    border: none;
    box-shadow: 1px 1px 1px 1px rgb(52, 53, 52);

}

h3 {
    color: white;
    padding: 20px 100px;
}

h4 {
    color: white;
    padding: 1px 112px;
    margin-bottom: -5px;
}

.but {
    background-color: rgb(255, 13, 0);
    width: 110px;
    height: 35px;
    border-radius: 5px;
    font-size: 16px;
    position: relative;
    top: 75px;
    right: 110px;
    border: none;
    box-shadow: 2px 2px 2px 2px rgb(52, 53, 52);
}

.bot {
    background-color: lawngreen;
    width: 120px;
    height: 35px;
    position: relative;
    left: 260px;
    top: 40px;
    padding: 6px 1px;
    box-shadow: 2px 2px 2px 2px rgb(52, 53, 52);
    border-radius: 5px;
    color: brown;
}